<style>
    .container {
        width: 1350px;
    }
</style>
<nav>
    <button type="button" class="btn btn-sm btn-warning" ng-click="openAddTool(article);">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        <span class="btn-txt">Ajouter Nouveau Outil</span>
    </button>
    <button type="button" class="btn btn-sm btn-info" ng-click="openAddMvt('TOOL');">
        <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
        <span class="btn-txt">Ajouter un mouvement</span>
    </button>
    <!--<button type="button" class="btn btn-sm btn-info" ng-click="openOrderInternal(c);">-->
        <!--<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>-->
        <!--<span class="btn-txt">Préparer Commande Etage</span>-->
    <!--</button>-->
    <!--<button type="button" class="btn btn-sm btn-info" ng-click="go('/RVA/FinalizeOrder');">-->
        <!--<span class="glyphicon glyphicon-save" aria-hidden="true"></span>-->
        <!--<span class="btn-txt">Finaliser Commande Etage</span>-->
    <!--</button>-->
</nav>

<div class="table-responsive">
    <div class="panel panel-travaux">

        <div class="panel-heading">
            <div class="row">
                <div class="col-md-8">

                    <ui-select id="filterLocation" ng-model="filterLocation.location" theme="bootstrap" reset-search-input="true" style="width: 230px;">
                        <ui-select-match placeholder="Chercher chantier/magasin ...">
                            <span>{{$select.selected.name_location | limitTo : 20}}</span>
                            <button class="clear" ng-click="clear('filterLocation')">X</button>
                        </ui-select-match>
                        <ui-select-choices repeat="l in tools | unique:'name_location' | orderBy:'name_location' | filter: $select.search">
                            <small ng-bind-html="l.name_location | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>

                    <ui-select id="filterTool" ng-model="filterTool.location" theme="bootstrap" reset-search-input="true" style="width: 350px;">
                        <ui-select-match placeholder="Chercher article...">
                            <span>{{$select.selected.nom | limitTo : 40}}</span>
                            <button class="clear" ng-click="clear('filterTool')">X</button>
                        </ui-select-match>
                        <ui-select-choices repeat="l in tools | unique:'nom' | orderBy:'nom' | filter: $select.search">
                            <small ng-bind-html="l.nom | highlight: $select.search"></small> /
                            <small ng-bind-html="l.code_barre | highlight: $select.search"></small> /
                            <small ng-bind-html="l.mark | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>

                    <!--<select id="filterStatus" ng-model="filterTool.nom"  data-ng-change="changeFilter()" data-style="btn-info" >-->
                        <!--<option value="">Tous les Outils</option>-->
                        <!--<option ng-repeat="t in tools | unique:'quantite_current' " value="{{t.quantite_current}}" on-finish-render="ngRepeatFinished" data-icon="glyphicon glyphicon-filter" >-->
                            <!--{{t.quantite_current}}-->
                        <!--</option>-->
                    <!--</select>-->

                    <!--<select id="filterFamily" ng-model="filterFamily.description"  data-ng-change="changeFilter()" data-style="btn-info" >-->
                        <!--<option value="">Tous les Famille</option>-->
                        <!--<option ng-repeat="t in tools | unique:'description' " value="{{t.description}}" on-finish-render="ngRepeatFinished" data-icon="glyphicon glyphicon-filter" >-->
                            <!--{{t.description}}-->
                        <!--</option>-->
                    <!--</select>-->
                </div>
                <div class="col-md-4">
                    <!--<div class="sw-search filter-tool" >-->
                        <!--<div class="nav-search" id="nav-search">-->
                            <!--Filter: <span class="input-icon">-->
                                <!--<input placeholder="Filter Liste Outils ..." class="nav-search-input" ng-model="filterLine" ng-change="resetLimit();"  autocomplete="off" type="text" style="width:300px;">-->
                                <!--<i class="search-icon fa fa-search nav-search-icon"></i>-->
                            <!--</span>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table data-toggle="table" fixed-table-headers="scrollable-area" data-cache="false" data-height="200" class="table table-hover table-striped" data-height="200" >
                <tr ng-show="tools.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;Aucune donnée trouvée.</td></tr>
                <tr ng-hide="tools.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>
                <thead>
                <tr><th ng-repeat="c in columns">{{c.text}}</th></tr>
                </thead>
                <tbody>
                <tr ng-repeat="t in tools
                | filter : filterTool.location.nom
                | filter : filterLocation.location.name_location
                "
                    id="{{t.id_stock}}"
                    animate-on-change='t.nom + t.mark + t.code_barre'
                    ng-animate="'animate'" >
                    <td>{{t.name_location}}</td>
                    <td>{{t.nom}}</td>
                    <td>{{t.code_barre}}</td>
                    <td>{{t.mark}}</td>
                    <td>{{t.unite}}</td>
                    <td>{{t.description_f}}</td>

                    <td>
                        <button class="btn btn-success" ng-class="{1:'btn-success', 0:'btn-danger'}[t.quantite_current]" data-ng-show="true">
                            <i ng-class="{1:'glyphicon-ok', 0:'glyphicon-log-out'}[t.quantite_current]" class="glyphicon"></i>
                        </button>
                    </td>
                    <!--<td>{{t.quantite_current}}</td>-->
                    <td>{{t.description}}</td>
                    <td>
                        <button type="button" class="btn btn-default fa fa-edit" class="btn" ng-click="openAddTool(t);"></button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-default fa fa-list" class="btn" ng-click="getListMvt(t);"></button>
                    </td>
                    <!--<td><button class="btn" ng-class="{Active:'btn-success', Inactive:''}[t.status]" ng-click="changetoolstatus(c);">{{t.status}}</button></td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>