<style>
    .modal-dialog{
        width: 900px;
    }
    form-element{
        width: 450px;
    }
    hr {
        margin-top: 10px;
    }
    .form-group {
        margin-bottom: 5px;
    }
    .modal-footer {
        padding: 0px;
    }
    .col-sm-7 {
        width: 55%;
        padding-right: 0px;
    }
    .col-sm-3 {
        width: 40%;
    }
    /*tr:hover{*/
        /*cursor: pointer;*/
    /*}*/

</style>
<nav>
    <button type="button" class="btn btn-warning btn-sm " ng-click="open(supplier);">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        <span class="btn-txt">Ajouter Nouveau fournisseur</span>
    </button>
</nav>
<div class="table-responsive">
    <div class="panel panel-primary">
        <div class="panel-heading">Liste des fournisseurs
            <div class="sw-search" >
                <div class="nav-search" id="nav-search">
                    Filter: <span class="input-icon">
                        <input placeholder="Filter Liste fournisseurs ..." class="nav-search-input" ng-model="filterSupplier" ng-change="resetLimit();"  autocomplete="off" type="text" style="width:300px;" focus>
                        <i class="search-icon fa fa-search nav-search-icon"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table data-toggle="table" data-cache="false" data-height="200" class="table table-hover table-striped" data-height="200" >
                <tr ng-show="suppliers.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;Aucune donnée trouvée.</td></tr>
                <tr ng-hide="suppliers.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>
                <thead>
                <tr><th ng-repeat="c in columns">{{c.text}}</th></tr>
                </thead>
                <tbody>
                <tr ng-repeat="s in suppliers | filter:filterSupplier | orderBy:'id_supplier'" id="{{s.id_supplier}}"
                    animate-on-change="jsonStringify(s)"
                    ng-animate=" 'animate'">
                    <td>{{s.id_supplier}}</td>
                    <td>{{s.name}}</td>
                    <td>{{s.street}} {{s.zip_code}} {{s.city}} {{s.country}}</td>
                    <td>{{s.mail}}</td>
                    <td>{{s.contact_name}}</td>
                    <td>{{s.tel}}</td>
                    <td style="width:100px">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default fa fa-edit" ng-click="open(s);"></button>
                            <!--<button type="button" class="btn btn-danger fa fa-trash-o" ng-click="deleteProduct(c);"></button>-->
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


